* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    position: relative;
    min-height: 100vh;
    transition: .5s;
    font-family: 'Cairo', sans-serif;
    background-color:  deepskyblue;
    background-image: url(../imges/istockphoto-1181315370-170667a.webp);
    background-size: cover;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #1715159e;
    transition: .5s;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
}

body.active::before {
    width: 100%;
    height: 200%;
    border-radius: 0;
}

.snow-wrap {
    width: 100%;
    height: 100vh;
    background-position: center center ;
    position: relative;
    overflow: hidden;
}
.snow ,.snow::before , .snow::after {
    content: "";
    position: absolute;
    top: -600px;      /* Almost I must make the direction 0 to be move the radial-gradient  */
    left: 0;    /* Almost I must make the direction 0 to be move the radial-gradient  */
    right: 0;   /* Almost I must make the direction 0 to be move the radial-gradient  */
    bottom: 0;  /* Almost I must make the direction 0 to be move the radial-gradient  */
    background-image: 
    radial-gradient(4px 4px at 100px 50px , #fff , transparent),
    radial-gradient(6px 6px at 200px 150px , #fff , transparent),
    radial-gradient(3px 3px at 300px 250px , #fff , transparent),
    radial-gradient(4px 4px at 400px 350px , #fff , transparent),
    radial-gradient(6px 6px at 500px 100px , #fff , transparent),
    radial-gradient(3px 3px at 50px 200px , #fff , transparent),
    radial-gradient(4px 4px at 150px 300px , #fff , transparent),
    radial-gradient(6px 6px at 250px 400px , #fff , transparent),
    radial-gradient(3px 3px at 350px 500px , #fff , transparent),
    radial-gradient(4px 4px at 200px 320px , #fff , transparent),
    radial-gradient(6px 6px at 270px 480px , #fff , transparent),
    radial-gradient(3px 3px at 350px 520px , #fff , transparent),
    radial-gradient(3px 3px at 340px 500px , #fff , transparent),
    radial-gradient(3px 3px at 310px 600px , #fff , transparent);
    background-size: 599px 599px;
    animation: snowAnim 6s linear ;
    animation-iteration-count: infinite;
}

.snow::after {
    margin-left: -250px;
    opacity: .4;
    animation-duration: 6s;
}

.snow::before {
    margin-left: -350px;
    opacity: .7;
}


@keyframes snowAnim {
    from {
        transform: translateY(0);
    }
    
    to {
        transform: translateY(600px);
    }
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imges/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
    border-radius: 10px;
    animation: change-bg 10s infinite linear alternate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    color: #ccc;
}

header h2 {
    animation: change-cl 2s infinite linear alternate;
}

@keyframes change-cl {
    100% {
        color: white;
    }
}

form {
    background-color: #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    /* width: 80%; */
}

form input[type="text"] {
    background-color: #ccc;
    border-radius: 6px;
    padding: 10px 20px;
    outline: none;
    border: none;
    width:80%;
}

form input[type="button"] {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #03a9f4;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width:767px) {
    .container {
        width: 95%;
    }
    
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
        width: 95%;
    }
}

ul {
    width: 90%;
}

ul li {
    padding: 5px 0;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #03a9f4;
    color: white;
    margin-bottom: 10px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 4px;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

.achieved {
    opacity: .5;
    text-decoration: line-through;
}

ul .achieved::before {
    background-image: url(../imges/unnamed.png);
    background-repeat: no-repeat;
    background-size: cover;
}

ul li span {
    position: absolute;
    right: 6px;
    font-size: 12px;
    transition: .3s;
    padding: 5px 10px;
    border-radius: 6px;
}

ul li span:hover {
    background-color: #ccc;
}



.change-bg {
    background-image: url(../imges/unnamed.png);
}

.remove-all {
    color: white;
    background-color: #03a9f4;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.dark-light {
    width: 50px;
    height: 20px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 20px;
    transition: .5s;
}

.dark-light .bullet {
    content: "";
    position: absolute;
    left: -5px;
    background-color: #03a9f4;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: .5s;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 25px 8px white;
}

.dark-light .bullet.active {
    left: 70%;
    background-color: white;
    box-shadow: 0px 0px 25px 8px #03a9f4;
}

.dark-span {
    width: 0;
    height: 100%;
    background-color:#03a9f4;
    transition: .6s;
    display: inline-block;
    border-radius: 8px;
}

.dark-span.active {
    width: 100%;
}
